# Dependency Directories
node_modules/
dist/
build/
coverage/

# Environment Variables
.env
.env.local

# Docker & Data
pgdata/
postgres-data/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Backups (Ignore files but keep directory)
backups/*
!backups/.keep
